[core]
	editor = vim
[user]
	name = Yunier Perez
	email = yperez@twilio.com
[push]
	default = simple
[alias]
	lol = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold blue)%d%C(reset)'
	lola = log --graph --abbrev-commit --decorate --all --format=format:'%C(blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold blue)%d%C(reset)'
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold blue)%d%C(reset)'
[color]
	status = auto
[hepl]
	autocorrect = 1

